@charset "utf-8";

/* @media (min-width: ) {
    .img-container-posts {
        grid-template-columns: repeat(3, 1fr) !important; 
    }
} */

@media (min-width: 905px) {
    .center-margin {
        max-width: 1500px;
    }

    .mid-bar {
        margin-top: 20px;
        height: 70px;
        display: flex;
        flex-flow: row nowrap !important;
        justify-content: space-between;
        /* align-items: center; */
    }

    .hidding-menu {
        height: auto;
    }

    .form-flex {
        display: flex;
        align-items: center;
    }

    .form-flex h2 {
        padding: 0;
        width: 100%;
    }

    .grid-large-size {
        height: max-content;

        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-large-size article:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;

        height: max-content;
    }


    .img-container-posts {
        grid-template-columns: repeat(3, 1fr);
    }


    .img-container-posts>div {
        height: 100%;
    }

    .img-container-posts div a {
        height: max-content;
        flex: 1 1 120px;
    }

    .img-container-posts div a img {
        height: auto;
        width: 100%;
        aspect-ratio: 1 / 1;
        min-height: 263.55px;
    }

    .form-email {
        grid-template-columns: 2fr 1fr;
    }

    .form-email input:nth-child(2) {
        min-width: 46.8px;
    }

    .bottom-article-img div a {
        height: max-content;
    }

    .bottom-article-img div a img {
        height: auto;
    }

    .aspect-ratio1 {
        aspect-ratio: 2 / 3;
    }

    .grid-main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 30px;
    }

    .first-article {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .description-article {
        grid-column: 2 / 3;
        grid-row: 4;
        z-index: 999;
        height: max-content;
    }

    .grid-large-size {
        grid-row: 4;
    }

    .contact-article {
        grid-column: 2 / 3;
        align-items: end;
        grid-row: 4;
        padding-top: 570px;
    }

    .info-article {
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
        margin: 0;
    }

    .div-info {
        grid-column: 1 / 3;
        grid-row: 3;
    }

    .contact-area {
        max-height: 241px;
        margin-top: 0;
    }

    .contact-inside-container {
        max-height: 181px;
    }

    .customer-article {
        grid-column: 1 / 3;
        grid-row: 5;
        width: 90%;
        margin: 0 auto;
    }

    .customer-div {
        flex-flow: row nowrap;
    }

    .digital-menu-article {
        gap: 0;
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .digital-menu-text {
        width: 40%;
        margin: 0;
    }

    .digital-menu-text h2 {
        font-size: 2.6em;
        
    }
    
    .digital-menu-text p {
        padding-top: 70px;
        font-size: 1.3em;
        line-height: 1.8em;
    }
    
    .digital-menu-text strong {
        color: #fff;
    }

    .menu-img img {
        aspect-ratio: 1 / 1;
        max-width: 450px;
    }
}