@charset "utf-8";

@media (min-width: 600px) {
    .menu-mobile {
        display: none !important;
    }

    .hidding-menu {
        display: flex !important;
        height: max-content;
        flex-flow: row nowrap;
        margin: 15px 0;
    }

    .close-menu {
        display: none !important;
    }

    .options-menu {
        flex-flow: row wrap;
        gap: 10px;
        animation: none;
        height: auto;
    }

    .options-menu .products-list li {
        margin-top: 10px;
    }

    .options-menu li {
        margin-top: 0;
        padding: 5px;
    }

    .options-menu li:hover {
        background-color: var(--color-lighter-blue-palette);
    }

    .img-container-posts>div {
        height: 33.33%;
    }

    .img-container-posts div a img {
        height: 400px;
    }

    .img-container {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
    }

    .img-grid div {
        width: 80%;
    }

    .img-grid div a:hover {
        text-decoration: underline;
    }

    .bottom-article-img {
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(3, 300px); */
        gap: 1.75rem;
    }

    .bottom-article-img a {
        height: 100%;
    }

    .bottom-article-img div a img {
        aspect-ratio: 1 / 1;
        height: calc(100% - 25px); 
        width: 100%;
    }

    .img-container-posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: #fff;
        padding: 0 10px 10px 10px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.418);
        z-index: 999;
    }

    .dropdown-menu a {
        display: block;
    }

    .dropdown:hover .dropdown-menu{
        display: block !important;
    }

    .products-list {
        display: block !important;
        margin: 0;
    } 

}