@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Serif+Display:ital@0;1&display=swap');

:root {
    --font-dm-serif-display: "DM Serif Display", serif;
    --color-brown-palette: #432F28;
    --color-light-pink-palette: #F9B1B2;
    --color-lighter-pink-palette: #ffddde;
    --color-light-blue-palette: #D9D9FF;
    --color-lighter-blue-palette: #e9e9fc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
    color: var(--color-brown-palette);
}

.center-margin {
    width: 93%;
    margin: 0 auto;
}

.top-bar {
    padding: 15px 0;
    display: flex;
    /* gap: 30px; */
    background-color: #fdf1cd;
}

.top-bar a {
    padding-right: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

.titles {
    font-family: "DM Serif Display", serif;
    font-weight: normal;
    color: var(--color-brown-palette);
    font-size: 1.8rem;

}

.title-size {
    font-size: 2.1rem;
}

.lines {
    border-width: 0 0 1px 0;
    border-style: dashed;
    color: var(--color-brown-palette);
}

.top-bar a:hover,
header h1 a:hover {
    text-decoration: underline;
}

.mid-bar {
    margin-top: 20px;
    height: 140px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.mid-bar-bottom {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.mid-bar-bottom img {
    width: 25px;
}

.mid-bar-bottom img:hover {
    transform: translate(-3px, -3px);
    transition: transform 0.3s, border .5s;
}

.mid-bar-h1 h1,
.mid-bar-h1 h1 a {
    min-height: max-content;
}

.logo {
    min-width: 100px;
    max-width: 150px;
    /* aspect-ratio: 1 / 1; */
}

.btn-shop {
    padding: 10px 15px;
    background-color: var(--color-light-pink-palette);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 100;
    border-radius: 20px;
    border: 1px solid black;
    margin-left: 20px;
}

.menu-mobile button {
    padding: 15px 0;
}

.hidding-menu {
    display: none;
    margin-top: 15px;
    flex-flow: column wrap;
    height: 98vh;
}

.close-menu {
    text-align: right;
}

.options-menu {
    display: flex;
    flex-flow: column wrap;
    height: 200px;
    justify-content: space-around;

    animation-duration: .3s;
    animation-name: slidein;
}

.options-menu a,
.close-menu a {
    font-family: 'DM Mono';
    text-transform: uppercase;
}

.btn-menu {
    border: none;
    background-color: #fff;
    font-size: 1em;
    cursor: pointer;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
        max-width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.container {
    margin-top: 30px;
}

.dm-mono {
    font-family: 'DM Mono';
    font-weight: 100;
}

.dm-mono p a,
.img-grid .dm-mono p {
    font-family: 'DM Mono';
    font-weight: 100;
}

.dm-mono p a:hover {
    text-decoration: underline;
    font-weight: normal;
}

.subtitle {
    font-size: 0.9em;
}

.article-title {
    width: max-content;
    font-size: 2.2em;
    background: linear-gradient(180deg, #fff 0%, #fff 50%, var(--color-lighter-blue-palette) 50%, var(--color-light-blue-palette) 100%);
}

.img-container {
    display: flex;
    flex-flow: column nowrap;
    margin: 25px 0;
    gap: 1.75rem;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    height: 430px;
}

.img-grid {
    display: grid;
}

.img-grid img {
    grid-column: 1;
    grid-row: 1 / 3;
    align-self: end;
}

.img-grid div {
    background-color: #fff;
    grid-column: 1;
    grid-row: 2 / 3;
    align-self: end;
    width: 95%;
    padding: 15px;
    margin: 10px auto;
}

.img-grid div p {
    font-family: 'DM Mono';
    font-weight: 500;
    font-size: 0.85em;
}

.img-grid div h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
}

.img-grid div a:hover {
    text-decoration: underline;
}

.form-container {
    margin: 50px 0;
}

.form-container h2 {
    font-size: 2.5rem;
    padding-top: 30px;
}

.form-container div {
    padding-top: 30px;
    padding-bottom: 30px;
}

.form-email {
    gap: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
}

.label-email {
    display: none;
}

.email {
    padding: 15px;
    font-size: 1em;
    border-radius: 30px;
    border: 1px solid black;
}

.subscribe {
    border-radius: 30px;
    border: none;
    background-color: #ecc3de;
    font-family: 'DM Mono';
    font-size: 1rem;
    cursor: pointer;
}

.subscribe:hover {
    background-color: #CEE3E2;
}

.subscribe:active {
    background-color: #404040;
    color: #fff;
}

.img-container-posts {
    display: flex;
    flex-flow: column nowrap;
    margin: 25px 0;
    gap: 1.75rem;
}

.img-container-posts div a img {
    height: 580px;
    width: 100%;
    object-fit: cover;
}

.img-posts div {
    width: 100%;
    margin: 0;
    padding-left: 2px;
}

.description-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.description-container div p {
    font-size: 0.8em;
}

.description-container div h2 {
    font-size: 1.8em;
}

.img-description {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50%;
}

.description-text {
    font-size: 0.9em;
    font-weight: 100;
    padding: 20px 0;
    line-height: 2em;
}

.description-article, 
.connect-medias {
    margin: 30px 0;
}

.social-medias {
    margin: 15px 0;
    display: flex;
}

.media-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.media-flex:hover {
    /* -moz-transform: scale(1.1); */
    transform: scale(1.1);
}

.description-socials {
    height: 30px;

}

.form-bottom {
    background-color: #fdf1cd;
    padding: 30px 0;
    margin-top: 30px;
}

.form-bottom h2 {
    font-size: 1.6rem;
    padding-bottom: 20px;
}

.form-bottom p {
    font-size: 0.9rem;
    font-weight: 100;
    padding-bottom: 20px;
}

.form-inside-container {
    width: 90%;
    margin: 0 auto;
}

.post-legend {
    font-weight: 500;
    font-size: 0.9rem;
}

.post-legend:hover {
    text-decoration: underline;
}

.footer {
    background-color: #fdf1cd;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-content {
    padding: 25px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
}

.footer-content {
    text-align: center;
}

.footer-options {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 0.9rem;
    font-weight: 100;
    padding: 3px 0;
}

.footer-midias {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-midias img {
    width: 25px;
}

.footer-midias img:hover {
    transform: scale(1.1);
}

.bottom-footer {
    margin: 15px 0;
    font-size: 0.8rem;
    font-weight: 100;
}

.bottom-footer a {
    text-decoration: underline;
}

.bottom-footer a:hover {
    text-decoration: none;
}