<article class="description-article">
    <hr class="lines">
    <div class="description-div">
        <div>
            <div class="description-container">
                <div>
                    <p class="dm-mono">Olá, bem vindo à</p>
                    <h2 class="titles article-title">Paticceria Antonelli</h2>
                </div>
                <img class="img-description" src="img/pexels-julia-avamotive-1097781.jpg" alt="">
            </div>
            <div>
                <p class="description-text">
                    Nossa Pasticceria conta com varias sobremesas
                    que vão desde os clássicos franceses (eclair, lorem, lorem) até aos doces mais modernos e
                    populares (cookies, brownies, coxinha de morango). Venha conhecer!
                </p>
            </div>
        </div>
        <div class="connect-medias">
            <h2 class="titles">Nossas redes sociais</h2>
            <div class="social-medias">
                <a href="#" class="media-flex"><img class="description-socials"
                    src="img/logo-instagram-sem-background.png" alt="">
                    <p>Instagram</p>
                </a>
            </div>
            <hr>
            <div class="social-medias">
                <a href="#" class="media-flex"><img class="description-socials"
                    src="img/logo-facebook-preto.png" alt="">
                    <p>Facebook</p>
                </a>
            </div>
            <hr>
            <div class="social-medias">
                <a href="#" class="media-flex"><img class="description-socials"
                    src="img/tiktok-logo-icon-free-png.png" alt="">
                    <p>TikTok</p>
                </a>
            </div>
            <hr>
        </div>
    </div>
    <hr class="lines">
</article>