<!-- 
        <section class="carousel">
            <input type="checkbox" id="toggle">
            <label for="toggle" onclick>pausar</label>
            <div class="paineis">
                <article class="page1"><img src="img/bolo-branco.jpg" alt=""></article>
                <article class="page2"><img src="http://placehold.it/350x150&text=Slide%202" alt=""></article>
                <article class="page3"><img src="http://placehold.it/350x150&text=Slide%203" alt=""></article>
                <article class="page4"><img src="http://placehold.it/350x150&text=Slide%204" alt=""></article>
                <article class="page5"><img src="http://placehold.it/350x150&text=Slide%205" alt=""></article>
            </div>
        </section> -->