<article>
    <form class="form-container">
        <hr class="lines">
        <div class="form-flex">
            <h2 class="titles title-size">All things crafty in your inbox</h2>
            <div class="form-email">
                <label for="email" class="label-email">Type your email…</label>
                <input type="email" id="email" class="email" placeholder="Type yout email..." required>
                <input type="submit" class="subscribe" value="Subscribe">
            </div>
        </div>
        <hr class="lines">
    </form>
</article>