<footer class="container">
    <div class="footer">
        <hr class="lines">
        <div class="footer-content">
            <h2><a href="#" class="titles">Craftfully</a></h2>
            <div class="footer-options">
                <a href="#">About</a>
                <a href="#">Work With Me</a>
            </div>
            <div class="footer-midias">
                <a href="#"><img src="img/logo-pinterest-sem-background.png" alt="Logo Pinterest"></a>
                <a href="#"><img src="img/logo-instagram-sem-background.png" alt="Logo Instagram"></a>
                <a href="#"><img src="img/logo-facebook-preto.png" alt="Logo Facebook"></a>
                <a href="#"><img src="img/logo-email-preto.png" alt="Logo Tiktok"></a>
            </div>
        </div>
        <hr class="lines">
    </div>

    <p class="bottom-footer">Design created by <a
            href="https://wordpress.com/pt-br/theme/craftfully?tab_filter=recommended" target="_blank">WordPress
            Craftfully</a>
    </p>
</footer>