<footer>
  <div class="footer">
    <hr class="lines">
    <div class="footer-content">
      <div class="footer-contacts">
        <h2 class="titles">Contatos</h2>
        <p><span class="material-symbols-outlined footer-icons">call</span> - 19 99167-1419</p>
        <p><span class="material-symbols-outlined footer-icons">mail</span> - pasticceriaantonelli@gmail.com</p>
      </div>
      <div class="footer-options">
        <p>Rua Arlindo Assalin, São Carlos - Rafard - SP</p>
      </div>
      <div class="footer-midias">
        <a href="#"><img src="img/logo-whatsapp.png" alt="Logo Whatsapp" class="logo-whatsapp"></a>
        <a href="#"><img src="img/logo-instagram-sem-background.png" alt="Logo Instagram"></a>
        <a href="#"><img src="img/logo-facebook-preto.png" alt="Logo Facebook"></a>
      </div>
    </div>
    <hr class="lines">
  </div>
  <div class="bottom-footer">
    Pasticceria Antonelli - Criado por <a href="https://github.com/guimats">guimats</a>
  </div>
</footer>