<header>
    <%- include('header/nav-social.ejs') %>
    <%- include('header/nav-side.ejs') %>
    <%- include('header/nav-scroll.ejs') %>
    <div class="background-menu" style="background-image: url('img/img-fundo-cupcakes-redimensionado.jpg')">
        <div class="inside-background">
            <%- include('header/logo-area.ejs') %>
        </div>
    </div>
</header>