<main class="bg-color">
  <div class="about-container">
    <div class="about-history">
      <div class="history-content">
        <div>
          <h1 class="titles h1-title">SOBRE NÓS</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, esse ipsa. Optio eius officia deserunt
            dicta,
            ipsa perferendis assumenda nisi fugiat cumque saepe, quos tenetur, officiis accusantium? Quae, in repellat.
            Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Pariatur et a, atque quia quae ea totam. Quaerat
            temporibus
            fugit asperiores similique, vitae quisquam deleniti hic, ducimus ipsum consectetur aspernatur maxime.</p>
        </div>
        <div class="img-about-history">
          <img src="img/bolo-casamento.jpg" alt="Imagem de um bolo de casamento">
        </div>
      </div>
    </div>
    <div class="bg-one" style="background-image: url(/img/doceria-pexels.jpg);"></div>
    <!-- <div class="middle-img">
      <img src="img/cookies-sobre-nos.png" alt="Imagem pequena de cookies">
    </div> -->
    <div class="about-descriprions">
      <div>
        <h3 class="titles">VISÃO</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, praesentium tempore, cupiditate perferendis
          maxime doloribus eum, consequuntur debitis sit consequatur porro ea illum facere impedit quia quasi esse
          suscipit
          corporis.</p>
      </div>
      <div>
        <h3 class="titles">VALORES</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, praesentium tempore, cupiditate perferendis
          maxime doloribus eum, consequuntur debitis sit consequatur porro ea illum facere impedit quia quasi esse
          suscipit
          corporis.</p>
      </div>
      <div>
        <h3 class="titles">MISSÃO</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, praesentium tempore, cupiditate perferendis
          maxime doloribus eum, consequuntur debitis sit consequatur porro ea illum facere impedit quia quasi esse
          suscipit
          corporis.</p>
      </div>
    </div>
  </div>
</main>