<main class="center-margin">
    <div class="grid-main">
        <article class="container first-article">
            <p class="dm-mono subtitle">Destaques</p>
            <h1 class="titles article-title">Especiais</h1>
            <div class="img-container">
                <div class="img-grid">
                    <img src="img/caixinha-brigadeiros.jpeg" alt="">
                    <div class="dm-mono">
                        <p>R$ 8,00 - 15,00</p>
                        <h2><a href="#">Caixinha de brigadeiros</a></h2>
                    </div>
                </div>
                <div class="img-grid fudge">
                    <img src="img/fudge.jpg" alt="">
                    <div class="dm-mono">
                        <p>R$ 12,00</p>
                        <h2><a href="#">Fudge Blend</a></h2>
                    </div>
                </div>
                <div class="img-grid">
                    <img src="img/cookie-branco.jpg" alt="">
                    <div class="dm-mono">
                        <p>R$ 10,00 - 14,00</p>
                        <h2><a href="#">Cookies - sabores</a></h2>
                    </div>
                </div>
            </div>
        </article>

        <div class="div-info" style="position: relative;">
            <article class="info-article">
                <div>
                    <span class="material-symbols-outlined symbols-white">
                    local_shipping
                    </span>
                    <h3>Realizamos entrega</h3>
                    <p>Entregamos em toda a região de Capivari e Rafard a pronta entrega</p>
                </div>
                <div>
                    <span class="material-symbols-outlined symbols-white">
                        schedule
                    </span>
                    <h3>Horário de atendimento</h3>
                    <p>Atendimento de quarta à sábado no horário das 14h00 às 22h00</p>
                </div>
                <div>
                    <span class="material-symbols-outlined symbols-white">
                        calendar_clock
                        </span>
                    <h3>Agendamos pedidos</h3>
                    <p>Agende seu pedido conosco com pelo menos 24 horas de antecedencia</p>
                </div>
            </article>
        </div>

        <article class="description-article">
            <hr class="lines">
            <div class="description-div">
                <div>
                    <div class="description-container">
                        <div>
                            <p class="dm-mono">Olá, bem vindo à</p>
                            <h2 class="titles article-title">Paticceria Antonelli</h2>
                        </div>
                        <img class="img-description" src="img/pexels-julia-avamotive-1097781.jpg" alt="">
                    </div>
                    <div>
                        <p class="description-text">
                            Nossa Pasticceria conta com varias sobremesas
                            que vão desde os clássicos franceses (eclair, lorem, lorem) até aos doces mais modernos e
                            populares (cookies, brownies, coxinha de morango). Venha conhecer!
                        </p>
                    </div>
                </div>
                <div class="connect-medias">
                    <h2 class="titles">Nossas redes sociais</h2>
                    <div class="social-medias">
                        <a href="#" class="media-flex"><img class="description-socials"
                            src="img/logo-instagram-sem-background.png" alt="">
                            <p>Instagram</p>
                        </a>
                    </div>
                    <hr>
                    <div class="social-medias">
                        <a href="#" class="media-flex"><img class="description-socials"
                            src="img/logo-facebook-preto.png" alt="">
                            <p>Facebook</p>
                        </a>
                    </div>
                    <hr>
                    <div class="social-medias">
                        <a href="#" class="media-flex"><img class="description-socials"
                            src="img/tiktok-logo-icon-free-png.png" alt="">
                            <p>TikTok</p>
                        </a>
                    </div>
                    <hr>
                </div>
            </div>
            <hr class="lines">
        </article>

        <div class="grid-large-size">
            <article class="first-child">
                <p class="dm-mono subtitle">Explore</p>
                <h1 class="titles article-title">Produtos</h1>
                <div class="img-container-posts">
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/caixinha-brigadeiros.jpeg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 8,00 - 15,00</p>
                            <h2><a href="#">Caixinha de brigadeiros</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/fudge.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 12,00</p>
                            <h2><a href="#">Fudge Blend</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/cookie-branco.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 10,00 - 14,00</p>
                            <h2><a href="#">Cookies - sabores</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img class="aspect-ratio1" src="img/escondidinhos.jpeg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 15,00 - 17,00</p>
                            <h2><a href="#">Escondidinhos - sabores</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/brownie-pequeno.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 5,00 - 12,00</p>
                            <h2><a href="#">Brownies - sabores</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/bolo-branco.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 10,00 - 15,00</p>
                            <h2><a href="#">Fatias de bolo</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/brownie-pequeno.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 5,00 - 12,00</p>
                            <h2><a href="#">Brownies - sabores</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/bolo-branco.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 10,00 - 15,00</p>
                            <h2><a href="#">Fatias de bolo</a></h2>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        
        <article class="customer-article">
            <h2 class="titles">Avaliações de clientes:</h2>
            <div class="customer-div">
                <div class="customer-review">
                    <div>
                        <span><img src="img/quote-open.svg" alt="" class="svg-quote"></span>
                        <p>
                            Melhores cookies que já comi na minha vida!!! Sem palavras para descrever o quão bom é.
                            Super recomendo, vou comprar sempre! Oitava maravilha.
                        </p>
                        <span class="span-svg-close"><img src="img/quote-close.svg" alt="" class="svg-quote"></span>
                    </div>
                    <div class="div-review">
                        <h3>Juliana</h3>
                    </div>
                </div>
                <div class="customer-review">
                    <div>
                        <span><img src="img/quote-open.svg" alt="" class="svg-quote"></span>
                        <p>
                            Melhores cookies que já comi na minha vida!!! Sem palavras para descrever o quão bom é.
                            Super recomendo, vou comprar sempre! Oitava maravilha.
                        </p>
                        <span class="span-svg-close"><img src="img/quote-close.svg" alt="" class="svg-quote"></span>
                    </div>
                    <div class="div-review">
                        <h3>Juliana</h3>
                    </div>
                </div>
                <div class="customer-review">
                    <div>
                        <span><img src="img/quote-open.svg" alt="" class="svg-quote"></span>
                        <p>
                            Melhores cookies que já comi na minha vida!!! Sem palavras para descrever o quão bom é.
                            Super recomendo, vou comprar sempre! Oitava maravilha.
                        </p>
                        <span class="span-svg-close"><img src="img/quote-close.svg" alt="" class="svg-quote"></span>
                    </div>
                    <div class="div-review">
                        <h3>Juliana</h3>
                    </div>
                </div>
            </div>
        </article>

        <article class="digital-menu-article">
            <div class="digital-menu-div">
                <div class="digital-menu-text">
                    <h2 class="digital-menu-h2">Cardápio digital</h2>
                    <p>Não perca mais tempo!<br>Entre agora no nosso cardápio digital e faça o seu pedido! <strong>Clique no cardápio:</strong></p>
                </div>
                <div class="menu-img">
                    <a href="https://instadelivery.com.br/pasticceria-antonelli" target="_blank"><img src="img/cardapio-editado.png" alt=""></a>
                </div>
            </div>
            <div class="digital-menu-div">
                <div class="digital-menu-text">
                    <h2 class="digital-menu-h2">Via Whatsapp</h2>
                    <p>Não perca mais tempo!<br>Entre agora no nosso cardápio digital e faça o seu pedido! <strong>Clique no cardápio:</strong></p>
                </div>
                <div class="menu-img">
                    <a href="https://instadelivery.com.br/pasticceria-antonelli" target="_blank"><img src="img/cardapio-editado.png" alt=""></a>
                </div>
            </div>
        </article>
    </div>
</main>