<main class="center-margin">
    <div class="grid-main">
        <article class="container first-article">
            <p class="dm-mono subtitle">Destaques</p>
            <h1 class="titles article-title">Especiais</h1>
            <div class="img-container">
                <div class="img-grid">
                    <img src="img/caixinha-brigadeiros.jpeg" alt="">
                    <div class="dm-mono">
                        <p>R$ 8,00 - 15,00</p>
                        <h2><a href="#">Caixinha de brigadeiros</a></h2>
                    </div>
                </div>
                <div class="img-grid fudge">
                    <img src="img/fudge.jpg" alt="">
                    <div class="dm-mono">
                        <p>R$ 12,00</p>
                        <h2><a href="#">Fudge Blend</a></h2>
                    </div>
                </div>
                <div class="img-grid">
                    <img src="img/cookie-branco.jpg" alt="">
                    <div class="dm-mono">
                        <p>R$ 10,00 - 14,00</p>
                        <h2><a href="#">Cookies - sabores</a></h2>
                    </div>
                </div>
            </div>
        </article>

        <div class="div-info" style="position: relative;">
            <article class="info-article">
                <div>
                    <span class="material-symbols-outlined symbols-white">
                    local_shipping
                    </span>
                    <h3>Realizamos entrega</h3>
                    <p>Entregamos em toda a região de Capivari e Rafard a pronta entrega</p>
                </div>
                <div>
                    <span class="material-symbols-outlined symbols-white">
                        schedule
                    </span>
                    <h3>Horário de atendimento</h3>
                    <p>Atendimento de quarta à sábado no horário das 14h00 às 22h00</p>
                </div>
                <div>
                    <span class="material-symbols-outlined symbols-white">
                        calendar_clock
                        </span>
                    <h3>Agendamos pedidos</h3>
                    <p>Agende seu pedido conosco com pelo menos 24 horas de antecedencia</p>
                </div>
            </article>
            <div class="svgs-info">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fc8284" fill-opacity="1" d="M0,128L60,154.7C120,181,240,235,360,213.3C480,192,600,96,720,96C840,96,960,192,1080,213.3C1200,235,1320,181,1380,154.7L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#F9B1B2" fill-opacity="0.6" d="M0,224L30,197.3C60,171,120,117,180,122.7C240,128,300,192,360,234.7C420,277,480,299,540,309.3C600,320,660,320,720,304C780,288,840,256,900,245.3C960,235,1020,245,1080,224C1140,203,1200,149,1260,112C1320,75,1380,53,1410,42.7L1440,32L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z"></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffddde" fill-opacity="0.7" d="M0,288L30,293.3C60,299,120,309,180,277.3C240,245,300,171,360,149.3C420,128,480,160,540,192C600,224,660,256,720,272C780,288,840,288,900,266.7C960,245,1020,203,1080,192C1140,181,1200,203,1260,218.7C1320,235,1380,245,1410,250.7L1440,256L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z"></path></svg>
            </div>
        </div>

        <article class="description-article">
            <hr class="lines">
            <div class="description-container">
                <div>
                    <p class="dm-mono">Olá, bem vindo à</p>
                    <h2 class="titles article-title">Paticceria Antonelli</h2>
                </div>
                <img class="img-description" src="img/pexels-julia-avamotive-1097781.jpg" alt="">
            </div>
            <div>
                <p class="description-text">
                    Nossa Pasticceria conta com varias sobremesas 
                    que vão desde os clássicos franceses (eclair, lorem, lorem) até aos doces mais modernos e
                    populares (cookies, brownies, coxinha de morango). Venha conhecer!
                </p>
            </div>
            <hr class="lines">
            <div class="connect-medias">
                <h2 class="titles">Entre em contato conosco</h2>
                <div class="social-medias">
                    <a href="#" class="media-flex"><img class="description-socials"
                            src="img/logo-pinterest-sem-background.png" alt="">
                        <p>Pinterest</p>
                    </a>
                </div>
                <hr>
                <div class="social-medias">
                    <a href="#" class="media-flex"><img class="description-socials"
                            src="img/logo-instagram-sem-background.png" alt="">
                        <p>Instagram</p>
                    </a>
                </div>
                <hr>
                <div class="social-medias">
                    <a href="#" class="media-flex"><img class="description-socials"
                            src="img/logo-email-sem-background.png" alt="">
                        <p>Mail</p>
                    </a>
                </div>
                <hr>
            </div>
        </article>

        <div class="grid-large-size">
            <article class="first-child">
                <p class="dm-mono subtitle">Explore</p>
                <h1 class="titles article-title">Produtos</h1>
                <div class="img-container-posts">
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/caixinha-brigadeiros.jpeg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 8,00 - 15,00</p>
                            <h2><a href="#">Caixinha de brigadeiros</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/fudge.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 12,00</p>
                            <h2><a href="#">Fudge Blend</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/cookie-branco.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 10,00 - 14,00</p>
                            <h2><a href="#">Cookies - sabores</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img class="aspect-ratio1" src="img/escondidinhos.jpeg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 15,00 - 17,00</p>
                            <h2><a href="#">Escondidinhos - sabores</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/brownie-pequeno.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 5,00 - 12,00</p>
                            <h2><a href="#">Brownies - sabores</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/bolo-branco.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 10,00 - 15,00</p>
                            <h2><a href="#">Fatias de bolo</a></h2>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <article class="last-article">
            <form action="/" class="form-bottom">
                <div class="form-inside-container">
                    <h2 class="titles title-size">Join the fun!</h2>
                    <p>Stay updated with our latest tutorials and ideas by joining my newsletter.</p>
                    <div class="form-email">
                        <label for="email" class="label-email">Type your email…</label>
                        <input type="email" id="email" class="email" placeholder="Type yout email..." required>
                        <input type="submit" class="subscribe" value="Subscribe">
                    </div>
                </div>
            </form>
        </article>
    </div>
    </main>