<main class="center-margin">
    <div class="grid-main">
        <article class="container first-article">
            <p class="dm-mono subtitle">Destaques</p>
            <h1 class="titles article-title">Especiais</h1>
            <div class="img-container">
                <div class="img-grid">
                    <img src="img/caixinha-brigadeiros.jpeg" alt="">
                    <div class="dm-mono">
                        <p>R$ 8,00 - 15,00</p>
                        <h2><a href="#">Caixinha de brigadeiros</a></h2>
                    </div>
                </div>
                <div class="img-grid fudge">
                    <img src="img/fudge.jpg" alt="">
                    <div class="dm-mono">
                        <p>R$ 12,00</p>
                        <h2><a href="#">Fudge Blend</a></h2>
                    </div>
                </div>
                <div class="img-grid">
                    <img src="img/cookie-branco.jpg" alt="">
                    <div class="dm-mono">
                        <p>R$ 10,00 - 14,00</p>
                        <h2><a href="#">Cookies - sabores</a></h2>
                    </div>
                </div>
            </div>
        </article>

        <div class="div-info" style="position: relative;">
            <article class="info-article">
                <div>
                    <span class="material-symbols-outlined symbols-white">
                    local_shipping
                    </span>
                    <h3>Realizamos entrega</h3>
                    <p>Entregamos em toda a região de Capivari e Rafard a pronta entrega</p>
                </div>
                <div>
                    <span class="material-symbols-outlined symbols-white">
                        schedule
                    </span>
                    <h3>Horário de atendimento</h3>
                    <p>Atendimento de quarta à sábado no horário das 14h00 às 22h00</p>
                </div>
                <div>
                    <span class="material-symbols-outlined symbols-white">
                        calendar_clock
                        </span>
                    <h3>Agendamos pedidos</h3>
                    <p>Agende seu pedido conosco com pelo menos 24 horas de antecedencia</p>
                </div>
            </article>
        </div>

        <article class="description-article">
            <hr class="lines">
            <div class="description-container">
                <div>
                    <p class="dm-mono">Olá, bem vindo à</p>
                    <h2 class="titles article-title">Paticceria Antonelli</h2>
                </div>
                <img class="img-description" src="img/pexels-julia-avamotive-1097781.jpg" alt="">
            </div>
            <div>
                <p class="description-text">
                    Nossa Pasticceria conta com varias sobremesas 
                    que vão desde os clássicos franceses (eclair, lorem, lorem) até aos doces mais modernos e
                    populares (cookies, brownies, coxinha de morango). Venha conhecer!
                </p>
            </div>
            <hr class="lines">
            <div class="connect-medias">
                <h2 class="titles">Entre em contato conosco</h2>
                <div class="social-medias">
                    <a href="#" class="media-flex"><img class="description-socials"
                            src="img/logo-pinterest-sem-background.png" alt="">
                        <p>Pinterest</p>
                    </a>
                </div>
                <hr>
                <div class="social-medias">
                    <a href="#" class="media-flex"><img class="description-socials"
                            src="img/logo-instagram-sem-background.png" alt="">
                        <p>Instagram</p>
                    </a>
                </div>
                <hr>
                <div class="social-medias">
                    <a href="#" class="media-flex"><img class="description-socials"
                            src="img/logo-email-sem-background.png" alt="">
                        <p>Mail</p>
                    </a>
                </div>
                <hr>
            </div>
        </article>

        <div class="grid-large-size">
            <article class="first-child">
                <p class="dm-mono subtitle">Explore</p>
                <h1 class="titles article-title">Produtos</h1>
                <div class="img-container-posts">
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/caixinha-brigadeiros.jpeg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 8,00 - 15,00</p>
                            <h2><a href="#">Caixinha de brigadeiros</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/fudge.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 12,00</p>
                            <h2><a href="#">Fudge Blend</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/cookie-branco.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 10,00 - 14,00</p>
                            <h2><a href="#">Cookies - sabores</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img class="aspect-ratio1" src="img/escondidinhos.jpeg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 15,00 - 17,00</p>
                            <h2><a href="#">Escondidinhos - sabores</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/brownie-pequeno.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 5,00 - 12,00</p>
                            <h2><a href="#">Brownies - sabores</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/bolo-branco.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 10,00 - 15,00</p>
                            <h2><a href="#">Fatias de bolo</a></h2>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <article class="last-article">
            <form action="/" class="contact-area">
                <div class="contact-inside-container">
                    <h2 class="titles title-size">Faça o seu pedido!</h2>
                    <p>Entre em contato conosco pelo whatsapp e realize seu pedido:</p>
                    <div class="contact-button">
                        <a href="https://wa.me/5519991671419?text=Ol%C3%A1,%20testando%20a%20mensagem%20autom%C3%A1tica!" target="_blank">Whatsapp - Entre em contato</a>
                    </div>
                </div>
            </form>
        </article>
<!-- 
        <section class="carousel">
            <input type="checkbox" id="toggle">
            <label for="toggle" onclick>pausar</label>
            <div class="paineis">
                <article class="page1"><img src="img/bolo-branco.jpg" alt=""></article>
                <article class="page2"><img src="http://placehold.it/350x150&text=Slide%202" alt=""></article>
                <article class="page3"><img src="http://placehold.it/350x150&text=Slide%203" alt=""></article>
                <article class="page4"><img src="http://placehold.it/350x150&text=Slide%204" alt=""></article>
                <article class="page5"><img src="http://placehold.it/350x150&text=Slide%205" alt=""></article>
            </div>
        </section> -->
    </div>
    </main>