<main class="center-margin">
        <article class="container">
            <p class="dm-mono subtitle">Destaques</p>
            <h1 class="titles article-title">Especiais</h1>
            <div class="img-container">
                <div class="img-grid">
                    <img src="img/caixinha-brigadeiros.jpeg" alt="">
                    <div class="dm-mono">
                        <p>R$ 8,00 - 15,00</p>
                        <h2><a href="#">Caixinha de brigadeiros</a></h2>
                    </div>
                </div>
                <div class="img-grid fudge">
                    <img src="img/fudge.jpg" alt="">
                    <div class="dm-mono">
                        <p>R$ 12,00</p>
                        <h2><a href="#">Fudge Blend</a></h2>
                    </div>
                </div>
                <div class="img-grid">
                    <img src="img/cookie-branco.jpg" alt="">
                    <div class="dm-mono">
                        <p>R$ 10,00 - 14,00</p>
                        <h2><a href="#">Cookies - sabores</a></h2>
                    </div>
                </div>
            </div>
        </article>

        <article class="description-article">
            <hr class="lines">
            <div class="description-container">
                <div>
                    <p class="dm-mono">Olá, somos a</p>
                    <h2 class="titles article-title">Paticceria Antonelli</h2>
                </div>
                <img class="img-description" src="img/pexels-julia-avamotive-1097781.jpg" alt="">
            </div>
            <div>
                <p class="description-text">
                    Nossa Pasticceria conta com varias sobremesas 
                    que vão desde os clássicos franceses (eclair, lorem, lorem) até aos doces mais modernos e
                    populares (cookies, brownies, coxinha de morango). Venha conhecer!
                </p>
            </div>
            <hr class="lines">
            <div class="connect-medias">
                <h2 class="titles">Vamos nos conectar</h2>
                <div class="social-medias">
                    <a href="#" class="media-flex"><img class="description-socials"
                            src="img/logo-pinterest-sem-background.png" alt="">
                        <p>Pinterest</p>
                    </a>
                </div>
                <hr>
                <div class="social-medias">
                    <a href="#" class="media-flex"><img class="description-socials"
                            src="img/logo-instagram-sem-background.png" alt="">
                        <p>Instagram</p>
                    </a>
                </div>
                <hr>
                <div class="social-medias">
                    <a href="#" class="media-flex"><img class="description-socials"
                            src="img/logo-email-sem-background.png" alt="">
                        <p>Mail</p>
                    </a>
                </div>
                <hr>
            </div>
        </article>

        <div class="grid-large-size">
            <article class="first-child">
                <p class="dm-mono subtitle">Explore</p>
                <h1 class="titles article-title">Produtos</h1>
                <div class="img-container-posts">
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/caixinha-brigadeiros.jpeg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 8,00 - 15,00</p>
                            <h2><a href="#">Caixinha de brigadeiros</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/fudge.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 12,00</p>
                            <h2><a href="#">Fudge Blend</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/cookie-branco.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 10,00 - 14,00</p>
                            <h2><a href="#">Cookies - sabores</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img class="aspect-ratio1" src="img/escondidinhos.jpeg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 15,00 - 17,00</p>
                            <h2><a href="#">Escondidinhos - sabores</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/brownie-pequeno.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 5,00 - 12,00</p>
                            <h2><a href="#">Brownies - sabores</a></h2>
                        </div>
                    </div>
                    <div class="img-grid img-posts">
                        <a href="#"><img src="img/bolo-branco.jpg" alt=""></a>
                        <div class="dm-mono">
                            <p>R$ 10,00 - 15,00</p>
                            <h2><a href="#">Fatias de bolo</a></h2>
                        </div>
                    </div>
                </div>
            </article>

            <article>
                <article>
                    <form action="/" class="form-bottom">
                        <div class="form-inside-container">
                            <h2 class="titles title-size">Join the fun!</h2>
                            <p>Stay updated with our latest tutorials and ideas by joining my newsletter.</p>
                            <div class="form-email">
                                <label for="email" class="label-email">Type your email…</label>
                                <input type="email" id="email" class="email" placeholder="Type yout email..." required>
                                <input type="submit" class="subscribe" value="Subscribe">
                            </div>
                        </div>
                    </form>
                </article>
            </article>
        </div>
    </main>