<header>
    <nav class="top-bar">
        <div class="center-margin">
            <a href="#">About</a>
            <a href="#">Work with me</a>
        </div>
    </nav>
    <div class="mid-bar center-margin">
        <div class="mid-bar-h1">
            <h1><a href="#"><img  class="logo" src="img/logo-antonelli.png" alt=""></a></h1>
        </div>
        <div class="mid-bar-bottom">
            <a href="#"><img src="img/facebook-icone-gris.png" alt="Logo Facebook"></a>
            <a href="#"><img src="img/instagram_logo_icon_238280.jpeg" alt="Logo Instagram"></a>
            <a href="#"><img src="img/logo-pinterest-gris.png" alt="Logo Pinterest"></a>
            <a href="#"><img src="img/tiktok-logo-icon-free-png.png" alt="Logo Tiktok"></a>
            <a href="#" class="btn-shop">Shop &rarr;</a>
        </div>
    </div>
    <nav class="center-margin">
        <hr class="lines">
        <div class="menu-mobile">
            <button class="btn-menu">Menu</button>
        </div>
        <div class="hidding-menu">
            <div class="close-menu">
                <button class="btn-menu hidding-btn-close">Close</button>
            </div>
            <div class="options-menu">
                <a href="#">DIY</a>
                <a href="#">Crafts</a>
                <a href="#">Holidays</a>
                <a href="#">Seasonal</a>
                <a href="#">Recipes</a>
            </div>
        </div>
        <hr class="lines">
    </nav>
</header>