<header>
    <nav class="top-bar">
        <div class="center-margin">
            <a href="#">About</a>
            <a href="#">Work with me</a>
        </div>
    </nav>
    <div class="mid-bar center-margin">
        <div class="mid-bar-h1">
            <h1><a href="#"><img  class="logo" src="img/logo-antonelli.png" alt=""></a></h1>
        </div>
        <div class="mid-bar-bottom">
            <a href="#"><img src="img/facebook-icone-gris.png" alt="Logo Facebook"></a>
            <a href="#"><img src="img/instagram_logo_icon_238280.jpeg" alt="Logo Instagram"></a>
            <a href="https://wa.me/5519991671419?text=Ol%C3%A1,%20testando%20a%20mensagem%20autom%C3%A1tica!" target="_blank">
                <img src="img/logo-whatsapp.png" alt="Logo Whatsapp">
            </a>
            <a href="#"><img src="img/tiktok-logo-icon-free-png.png" alt="Logo Tiktok"></a>
            <!-- <a href="#" class="btn-shop">Shop &rarr;</a> -->
        </div>
    </div>
    <nav class="center-margin">
        <hr class="lines">
        <div class="menu-mobile">
            <button class="btn-menu">Menu</button>
        </div>
        <div class="hidding-menu">
            <div class="close-menu">
                <button class="btn-menu hidding-btn-close">Close</button>
            </div>
            <ul class="options-menu">
                <li><a href="/">Home</a></li>
                <li><a href="#">Cardápio</a></li>
                <li class="dropdown">
                    <div class="products-div">
                        <p class="products-page">Produtos</p>
                        <span class="material-symbols-outlined products-page">
                            keyboard_arrow_down
                        </span>
                    </div>
                    <div class="dropdown-menu">
                        <ul class="products-list">
                            <li><a href="#">Brownies</a></li>
                            <li><a href="#">Brigadeiros</a></li>
                            <li><a href="#">Cookies</a></li>
                            <li><a href="#">Escondidinhos</a></li>
                            <li><a href="#">Outras delicias</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Seasonal</a></li>
                <li><a href="#">Recipes</a></li>
            </ul>
        </div>
        <hr class="lines">
    </nav>
</header>