<article>
    <article class="container">
        <h2 class="titles">Recent posts</h2>
        <div class="img-container bottom-article-img">
            <div>
                <a href="#"><img src="img/pexels-photo-9966347.jpeg" alt=""></a>
                <a href="#" class="post-legend">Halloween dessert roundup</a>
            </div>
            <div>
                <a href="#"><img src="img/pexels-photo-5478008.jpeg" alt=""></a>
                <a href="#" class="post-legend">Spooky Halloween drinks</a>
            </div>
            <div>
                <a href="#"><img src="img/pexels-photo-5493447.jpeg" alt=""></a>
                <a href="#" class="post-legend">Autumn sugar cookies</a>
            </div>
            <div>
                <a href="#"><img class="aspect-ratio1" src="img/pexels-photo-10012665.jpeg" alt=""></a>
                <a href="#" class="post-legend">Homemade wax candles</a>
            </div>
            <div>
                <a href="#"><img src="img/pexels-cottonbro-studio-5545810.jpeg" alt=""></a>
                <a href="#" class="post-legend">Pumpkin decoration ideas</a>
            </div>
            <div>
                <a href="#"><img src="img/pexels-photo-10163373.jpeg" alt=""></a>
                <a href="#" class="post-legend">Cozy fall drink recipes</a>
            </div>
        </div>
    </article>
</article>