<article class="customer-article">
    <h2 class="titles">Avaliações de clientes:</h2>
    <div class="customer-div">
        <div class="customer-review">
            <div>
                <span><img src="img/quote-open.svg" alt="" class="svg-quote"></span>
                <p>
                    Melhores cookies que já comi na minha vida!!! Sem palavras para descrever o quão bom é.
                    Super recomendo, vou comprar sempre! Oitava maravilha.
                </p>
                <span class="span-svg-close"><img src="img/quote-close.svg" alt="" class="svg-quote"></span>
            </div>
            <div class="div-review">
                <h3>Juliana</h3>
            </div>
        </div>
        <div class="customer-review">
            <div>
                <span><img src="img/quote-open.svg" alt="" class="svg-quote"></span>
                <p>
                    Melhores cookies que já comi na minha vida!!! Sem palavras para descrever o quão bom é.
                    Super recomendo, vou comprar sempre! Oitava maravilha.
                </p>
                <span class="span-svg-close"><img src="img/quote-close.svg" alt="" class="svg-quote"></span>
            </div>
            <div class="div-review">
                <h3>Juliana</h3>
            </div>
        </div>
        <div class="customer-review">
            <div>
                <span><img src="img/quote-open.svg" alt="" class="svg-quote"></span>
                <p>
                    Melhores cookies que já comi na minha vida!!! Sem palavras para descrever o quão bom é.
                    Super recomendo, vou comprar sempre! Oitava maravilha.
                </p>
                <span class="span-svg-close"><img src="img/quote-close.svg" alt="" class="svg-quote"></span>
            </div>
            <div class="div-review">
                <h3>Juliana</h3>
            </div>
        </div>
    </div>
</article>