<article class="digital-menu-article">
  <div class="digital-menu-div">
    <div class="block-digital-menu-one"></div>
    <div class="block-digital-menu-two"></div>
    <div class="digital-menu-text">
      <h2 class="digital-menu-h2">Cardápio digital</h2>
      <p>Não perca mais tempo!<br>Entre agora no nosso cardápio digital e faça o seu pedido! <strong>Clique no
          cardápio:</strong></p>
    </div>
    <div class="menu-img">
      <a href="https://instadelivery.com.br/pasticceria-antonelli" target="_blank"><img src="img/cardapio-editado.png"
          alt=""></a>
    </div>
  </div>
</article>