<article class="container first-article">
    <p class="dm-mono subtitle">Destaques</p>
    <h1 class="titles article-title">Especiais</h1>
    <div class="img-container">
        <div class="img-grid">
            <img src="img/caixinha-brigadeiros.jpeg" alt="">
            <div class="dm-mono">
                <p>R$ 8,00 - 15,00</p>
                <h2><a href="#">Caixinha de brigadeiros</a></h2>
            </div>
        </div>
        <div class="img-grid fudge">
            <img src="img/fudge.jpg" alt="">
            <div class="dm-mono">
                <p>R$ 12,00</p>
                <h2><a href="#">Fudge Blend</a></h2>
            </div>
        </div>
        <div class="img-grid">
            <img src="img/cookie-branco.jpg" alt="">
            <div class="dm-mono">
                <p>R$ 10,00 - 14,00</p>
                <h2><a href="#">Cookies - sabores</a></h2>
            </div>
        </div>
    </div>
</article>