<div class="div-info" style="position: relative;">
    <article class="info-article">
        <div>
            <span class="material-symbols-outlined symbols-white">
            local_shipping
            </span>
            <h3>Realizamos entrega</h3>
            <p>Entregamos em toda a região de Capivari e Rafard a pronta entrega</p>
        </div>
        <div>
            <span class="material-symbols-outlined symbols-white">
                schedule
            </span>
            <h3>Horário de atendimento</h3>
            <p>Atendimento de quarta à sábado no horário das 14h00 às 22h00</p>
        </div>
        <div>
            <span class="material-symbols-outlined symbols-white">
                calendar_clock
                </span>
            <h3>Agendamos pedidos</h3>
            <p>Agende seu pedido conosco com pelo menos 24 horas de antecedencia</p>
        </div>
    </article>
</div>