<div class="grid-large-swiper">
    <article>
        <p class="dm-mono subtitle">Explore</p>
        <h1 class="titles article-title">Produtos</h1>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#"><img src="img/caixinha-brigadeiros.jpeg" alt=""></a>
                    <div class="dm-mono">
                        <p>R$ 8,00 - 15,00</p>
                        <h2><a href="#">Caixinha de brigadeiros</a></h2>
                    </div>
                </div>
                <div class="img-grid img-posts swiper-slide">
                    <a href="#"><img src="img/fudge.jpg" alt=""></a>
                    <div class="dm-mono">
                        <p>R$ 12,00</p>
                        <h2><a href="#">Fudge Blend</a></h2>
                    </div>
                </div>
                <div class="img-grid img-posts swiper-slide">
                    <a href="#"><img src="img/cookie-branco.jpg" alt=""></a>
                    <div class="dm-mono">
                        <p>R$ 10,00 - 14,00</p>
                        <h2><a href="#">Cookies - sabores</a></h2>
                    </div>
                </div>
                <div class="img-grid img-posts swiper-slide">
                    <a href="#"><img class="aspect-ratio1" src="img/escondidinhos.jpeg" alt=""></a>
                    <div class="dm-mono">
                        <p>R$ 15,00 - 17,00</p>
                        <h2><a href="#">Escondidinhos - sabores</a></h2>
                    </div>
                </div>
                <div class="img-grid img-posts swiper-slide">
                    <a href="#"><img src="img/brownie-pequeno.jpg" alt=""></a>
                    <div class="dm-mono">
                        <p>R$ 5,00 - 12,00</p>
                        <h2><a href="#">Brownies - sabores</a></h2>
                    </div>
                </div>
                <div class="img-grid img-posts swiper-slide">
                    <a href="#"><img src="img/bolo-branco.jpg" alt=""></a>
                    <div class="dm-mono">
                        <p>R$ 10,00 - 15,00</p>
                        <h2><a href="#">Fatias de bolo</a></h2>
                    </div>
                </div>
                <div class="img-grid img-posts swiper-slide">
                    <a href="#"><img src="img/brownie-pequeno.jpg" alt=""></a>
                    <div class="dm-mono">
                        <p>R$ 5,00 - 12,00</p>
                        <h2><a href="#">Brownies - sabores</a></h2>
                    </div>
                </div>
                <div class="img-grid img-posts swiper-slide">
                    <a href="#"><img src="img/bolo-branco.jpg" alt=""></a>
                    <div class="dm-mono">
                        <p>R$ 10,00 - 15,00</p>
                        <h2><a href="#">Fatias de bolo</a></h2>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </article>
</div>