<div class="mid-bar center-margin center-containers">
  <div class="mid-bar-h1">
    <a href="#"><img class="logo" src="img/logo-antonelli.png" alt="Logo da Paticceria Antonelli"></a>
  </div>
  <%- include('menu.ejs') %>
    <div class="mid-bar-bottom">
      <div>
        <a href="#"><img src="img/facebook-icone-gris.png" alt="Logo Facebook"></a>
        <a href="#"><img src="img/instagram_logo_icon_238280.jpeg" alt="Logo Instagram"></a>
        <a href="https://wa.me/5519991671419?text=Ol%C3%A1,%20testando%20a%20mensagem%20autom%C3%A1tica!"
          target="_blank">
          <img src="img/logo-whatsapp.png" alt="Logo Whatsapp">
        </a>
      </div>
      <!-- <a href="#" class="btn-shop">Shop &rarr;</a> -->
    </div>
</div>