<nav class="center-margin mid-bar-menu">
    <div class="menu-mobile">
        <div class="btn-space">
            <span class="material-symbols-outlined btn-menu">
            menu
            </span>
        </div>
    </div>
    <nav class="hidding-menu">
        <div class="close-menu">
            <button class="btn-menu hidding-btn-close">Close</button>
        </div>
        <ul class="options-menu">
            <li><a href="/">Home</a></li>
            <li><a href="https://instadelivery.com.br/pasticceria-antonelli" target="_blank">Cardápio</a></li>
            <li class="dropdown">
                <div class="products-div">
                    <p class="products-page">Produtos</p>
                    <span class="material-symbols-outlined products-page">
                        keyboard_arrow_down
                    </span>
                </div>
                <div class="dropdown-menu">
                    <ul class="products-list">
                        <li><a href="#">Brownies</a></li>
                        <li><a href="#">Brigadeiros</a></li>
                        <li><a href="#">Cookies</a></li>
                        <li><a href="#">Escondidinhos</a></li>
                        <li><a href="#">Outras delicias</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Seasonal</a></li>
        </ul>
    </nav>
</nav>