<nav class="center-margin mid-bar-menu">
  <div class="menu-mobile">
    <div class="btn-space">
      <span class="material-symbols-outlined btn-menu">
        menu
      </span>
    </div>
  </div>
  <nav class="large-menu">
    <ul class="options-menu">
      <li class="menu-links"><a href="/">Home</a></li>
      <li class="menu-links"><a href="https://instadelivery.com.br/pasticceria-antonelli" target="_blank">Cardápio</a>
      </li>
      <li class="dropdown">
        <div class="products-div">
          <p class="products-page">Produtos</p>
          <span class="material-symbols-outlined products-page">
            keyboard_arrow_down
          </span>
        </div>
        <div class="dropdown-menu">
          <ul class="products-list">
            <li class="menu-links"><a href="#">Brownies</a></li>
            <li class="menu-links"><a href="#">Brigadeiros</a></li>
            <li class="menu-links"><a href="#">Cookies</a></li>
            <li class="menu-links"><a href="#">Escondidinhos</a></li>
            <li class="menu-links"><a href="#">Outras delicias</a></li>
          </ul>
        </div>
      </li>
      <li class="menu-links"><a href="/about-us">Sobre nós</a></li>
    </ul>
  </nav>
</nav>