<nav class="social-bar">
    <div class="btn-whatsapp">
        <a href="https://wa.me/5519991671419?text=Ol%C3%A1,%20testando%20a%20mensagem%20autom%C3%A1tica!"><img src="img/logo-whatsapp-branca.png" alt="Logo Whatsapp"></a>
    </div>
</nav>