<nav class="scroll-menu">
    <div class="scroll-logo">
        <a href="#"><img  class="logo" src="img/logo-antonelli.png" alt="Logo da Paticceria Antonelli"></a>
    </div>
    <div class="btn-space">
        <span class="material-symbols-outlined btn-menu">
        menu
        </span>
    </div>
</nav>
