<nav class="scroll-menu">
    <div class="scroll-logo">
        <a href="#"><img  class="logo" src="img/logo-antonelli.png" alt="Logo da Paticceria Antonelli"></a>
    </div>
    <div class="btn-space">
        <span class="material-symbols-outlined btn-menu">
        menu
        </span>
    </div>
</nav>

<nav class="scroll-menu-large-size">
    <ul class="options-menu">
        <li class="menu-links"><a href="/">Home</a></li>
        <li class="menu-links"><a href="/">Produtos</a></li>
        <li class="scroll-logo">
            <a href="#"><img  class="logo" src="img/logo-antonelli.png" alt="Logo da Paticceria Antonelli"></a>
        </li>
        <li class="menu-links"><a href="https://instadelivery.com.br/pasticceria-antonelli" target="_blank">Cardápio</a></li>
        <li class="menu-links"><a href="#">Sobre nós</a></li>
    </ul>
</nav>
