<nav class="side-bar opacity-side-bar">
    <div class="close-menu">
        <span class="material-symbols-outlined close-symbol">
            close
        </span>
    </div>
    <ul class="side-options-menu">
        <li><a href="/">Home</a></li>
        <li><a href="https://instadelivery.com.br/pasticceria-antonelli" target="_blank">Cardápio</a></li>
        <li class="dropdown">
            <div class="products-div">
                <p class="products-page">Produtos</p>
                <span class="material-symbols-outlined products-page products-arrow">
                    keyboard_arrow_down
                </span>
            </div>
            <div class="dropdown-menu">
                <ul class="side-products-list">
                    <li><a href="#">Brownies</a></li>
                    <li><a href="#">Brigadeiros</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Escondidinhos</a></li>
                    <li><a href="#">Outras delicias</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#">Seasonal</a></li>
    </ul>
</nav>