<nav class="top-bar">
  <div class="center-margin center-containers">
    <span class="material-symbols-outlined top-bar-symbol">
      star
    </span>
    <span class="material-symbols-outlined top-bar-symbol">
      star
    </span>
    <span class="material-symbols-outlined top-bar-symbol">
      star
    </span>
    <p>Faça o seu pedido pelo nosso<a href=""> CARDÁPIO DIGITAL</a></p>
    <span class="material-symbols-outlined top-bar-symbol">
      star
    </span>
    <span class="material-symbols-outlined top-bar-symbol">
      star
    </span>
    <span class="material-symbols-outlined top-bar-symbol">
      star
    </span>
  </div>
</nav>